################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dataStructures/RedBlackTree/RedBlackTree/Debug
/dataStructures/RedBlackTree/RedBlackTree/Release
/dataStructures/RedBlackTree/Release
/LongestPalindrome/LongestPalindrome/Debug
/LongestPalindrome/Debug
/LongestPalindrome/.vs/LongestPalindrome/v15
