################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dataStructures/RedBlackTree/RedBlackTree/Debug
